.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 45vw;
  background-color: var(--first-color);
  color: var(--second-color);
  z-index: 50;
  transform: translateX(0);
  padding: 20% 20px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  transition: transform 0.3s ease;
  &.active {
    transform: translateX(110%);
  }
  @media screen and (min-width: 992px) {
    display: none;
  }
  @media screen and (max-width: 578px) {
    width: 50vw;
  }
  & .nav-menu {
    @media screen and (max-width: 992px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: transparent;
      gap: 2rem;
    }
    &__item {
      background-color: transparent;
    }
  }
}
