.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -105%;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: var(--body-color);
  border: 8px solid var(--second-color);
  display: grid;
  place-items: center;
  z-index: 100;
  transition: all 0.4s var(--transition);
}

.arrow-up {
  font-size: 1.75rem;
  color: var(--title-color);
}

.show-scrollup {
  bottom: 1.5rem;
}
