.about__data {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}

.about__img {
  border-radius: 50%;
}

.about__data-title {
  font-size: var(--h3-font-size);
}

.about__container-content {
  grid-template-columns: repeat(3, 1fr);
}
.about__item {
  position: relative;
}

.about__item-img {
  width: 100%;
  vertical-align: middle;
}

.about__top,
.about__hover {
  position: absolute;
}

.about__top {
  inset: 1.25rem;
  border: 4px solid var(--first-color);
  transition: all 0.3s var(--transition);
}

.about__item:hover .about__top {
  opacity: 0;
}

.about__top-title {
  background-color: var(--first-color);
  padding-block: 0.75rem;
  font-size: var(--h3-font-size);
  text-align: center;
  position: absolute;
  bottom: -1px;
  inset-inline: 0;
}

.about__top,
.about__top-title,
.about__item-img,
.about__hover {
  border-radius: 1.75rem;
}

.about__hover {
  inset: 0;
  background-color: hsla(349, 89%, 55%, 0.9);
  padding-inline: 2.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  transform: rotateY(90deg) scale(0.5);
  transition: all 0.3s var(--transition);
}

.about__item:hover .about__hover {
  transform: rotateY(0deg) scale(1);
}

.about__hover-title,
.about__hover-description {
  color: var(--body-color);
}

.about__hover-title {
  font-size: var(--h2-font-size);
}

.about__hover-description {
  margin-block: 1.25rem 2.5rem;
}
.about__btn {
  color: var(--title-color);
  background-color: var(--body-color);
}

.about__btn::before {
  all: unset;
}
