@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Fredoka+One&display=swap');

:root {
  --header-height: 5.5rem;
  --first-color: hsl(49, 100%, 53%);
  --second-color: hsl(349, 89%, 55%);
  --title-color: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 33%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(218, 67%, 98%);

  --body-font: 'Epilogue', sans-serif;
  --second-font: 'Fredoka One', sans-serif;
  --biggest-font-size: 5.5rem;
  --bigger-font-size: 3.75rem;
  --h1-font-size: 2.5rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --larger-font-size: 1.25rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;

  --weight-400: 400;

  --transition: ease-in-out;
  @media screen and (max-width: 1230px) {
    --biggest-font-size: calc(
      34px + (88 - 34) * ((100vw - 360px) / (1230 - 360))
    );

    --bigger-font-size: calc(
      28px + (56 - 28) * ((100vw - 360px) / (1230 - 360))
    );

    --h1-font-size: calc(24px + (40 - 24) * ((100vw - 360px) / (1230 - 360)));

    --h2-font-size: calc(20px + (28 - 20) * ((100vw - 360px) / (1230 - 360)));

    --h3-font-size: calc(18px + (24 - 18) * ((100vw - 360px) / (1230 - 360)));

    --large-font-size: calc(
      16px + (20 - 16) * ((100vw - 360px) / (1230 - 360))
    );

    --large-font-size: calc(
      14px + (18 - 14) * ((100vw - 360px) / (1230 - 360))
    );
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  height: 100%;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

input,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

::-webkit-scrollbar {
  display: none;
}

input,
button {
  border: none;
  outline: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--weight-400);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.875rem;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding-inline: 0.95rem;
  margin-inline: auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 7.5rem;
  @media screen and (max-width: 1230px) {
    padding-block: calc(30px + (120 - 30) * ((100vw - 360px) / (1230 - 360)));
  }
}

.logo {
  display: inline-block;
  max-width: 183px;
  width: 100%;
  flex: 0 0 auto;
  @media screen and (max-width: 1230px) {
    max-width: calc(100px + (183 - 100) * ((100vw - 360px) / (1230 - 360)));
  }
  &__img {
    width: 100%;
    height: 100%;
  }
}

.button {
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  color: var(--body-color);
  background-color: var(--second-color);
  padding: 1.25rem 2.5rem;
  font-family: var(--second-font);
  position: relative;
  @media screen and (max-width: 1230px) {
    padding: calc(10px + (20 - 10) * ((100vw - 360px) / (1230 - 360)))
      calc(20px + (40 - 20) * ((100vw - 360px) / (1230 - 360)));
  }
  &::before {
    content: '';
    position: absolute;
    inset-block: -0.5rem;
    right: -0.5rem;
    border: 3px solid var(--second-color);
    width: calc(100% - 1rem);
    z-index: -1;
    transition: all 0.3s var(--transition);
  }
}

.button,
.button::before {
  border-radius: 0.75rem;
}

.button:hover::before {
  width: 30%;
}

.title__center {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 5rem;
  text-align: center;
  position: relative;
}

.title__center::after {
  content: '';
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: -1.25rem;
  width: 270px;
  height: 12px;
  border-radius: 1.5rem;
  background-color: var(--first-color);
}

.section__container {
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 3rem;
}

.section__title {
  font-size: var(--bigger-font-size);
}

.section__title,
.section__description {
  width: 80%;
}
.section__description {
  margin-bottom: 1.5rem;
}

.section__subtitle {
  display: block;
  color: var(--second-color);
  font-family: var(--second-font);
  font-size: var(--large-font-size);
  font-weight: var(--weight-400);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}
